<p>
  <strong>Title:</strong>
  <%= @admin_link.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @admin_link.image.thumb.url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @admin_link.link %>
</p>

<%= link_to 'Edit', edit_admin_link_path(@admin_link) %> |
<%= link_to 'Back', admin_links_path %>
