<p id="notice"><%= notice %></p>

<h1>Admin Works</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_works.each do |admin_work| %>
      <tr>
        <td><%= admin_work.title %></td>
        <td><%= admin_work.desc %></td>
        <td><%= admin_work.image %></td>
        <td><%= link_to 'Show', admin_work %></td>
        <td><%= link_to 'Edit', edit_admin_work_path(admin_work) %></td>
        <td><%= link_to 'Destroy', admin_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Work', new_admin_work_path %>
